.terminal-container {
  flex: 1;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}

.terminal {
  width: 100%;
  height: 100%;
}

.terminal .xterm {
  height: 100%;
}

.terminal .xterm-viewport {
  background-color: transparent !important;
}
